html, body {
    height: 100%;
}
body {
    padding-top: 0;
}
.cambox {
    padding: 0;
}
.cambox .image, .sedcard .image {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
}
.cambox .image:after, .sedcard .image:after {
    padding-top: 75%;
    display: block;
    content: '';
}
.cambox .image img, .sedcard .image img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.sedcard video {
    width: 100%;
    max-width:100%;
}
#chatframe {
    border: none;
    height: 100%;
    width: 100%;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.video-container {
    position: relative;
    width: 100%;
}
.video-container.aspect-16-9:after {
    content: '';
    display: block;
    padding-top: 56.25%;
}
.video-container.aspect-4-3:after {
     content: '';
     display: block;
     padding-top: 75%;
 }